body {
    position: relative;
    background-color: lightblue;
}

#interval-forecast-container {
    position:absolute;
    left: 5%;

    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 90%;
    height: auto;
}

.forecast-container {
    border-style: solid;

    padding: 10px;
    min-height: 200px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}