body {
    position: relative;
    background-color: lightblue;
}

header {
    text-align: center;
    font-family: 'Roboto';
    font-size: 4vh;
}
#interval-forecast-container {
    position:absolute;
    left: 5%;

    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 90%;
    height: auto;
}

.forecast-container {
    border-style: solid;

    padding: 10px;
    margin-top: 10px;
    min-height: 200px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.time {
    text-align: center;
    font-size: 4vh;
}